$base-black: #1f1e25;
$base-white: #ffffff;
$base-white: #ffffff;
$base-blue: #f6f7ff;
$base-blue-dark: #2c36f2;

$special-abbey: #4C4B51;
$special-alto: #E0E0E0;
$special-blue-gradient: #2027b3;
$special-blue-oxford: #394959;
$special-blue-dark: #3841ff;
$special-blue-persian: #2028B6;
$special-grey: #707c87;
$special-grey-light: #c1c2ca;
$special-grey-silver: #C4C4C4;

$base-f: "Roboto Normal", "Arial", sans-serif;
$base-medium-f: "Roboto Medium", "Arial", sans-serif;
$base-bold-f: "Roboto Bold", "Arial", sans-serif;

$mobile-width-min: 320px;
$mobile-width-max: 767px;

$tablet-width-min: 768px;
$tablet-width-max: 1023px;

$desktop-width-min: 1024px;
$desktop-width-max: 1366px;
$desktop-container-width: 1170px;
