.menu__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  &--close {
    display: none;
  }

  @media (min-width: $tablet-width-min) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width-min) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }



  &--footer {
    flex-direction: column;
    min-width: 144px;
  }
}

.menu__link {
  border-top: 1px solid $special-grey-light;
  display: block;
  padding: 20px 20px 20px 15px;
  font-family: $base-f;
  line-height: 19px;

  @media (min-width: $tablet-width-min) {
    border: none;
    padding: 20px 6px 20px 15px;
  }

  @media (min-width: $desktop-width-min) {
    border: none;
    padding: 20px 13px 20px 12px;
  }

  &--active {
    color: $base-blue-dark;
    text-decoration: none;
  }

  &--footer-active {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.menu__link--footer {
  padding: 0 0 8px 0;
  border: none;
  font-family: $base-medium-f;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width-min) {
    font-size: 16px;
    line-height: 22px;
  }

}

.menu__list:last-of-type {
  @media (max-width: $mobile-width-max) {
    border-bottom: 1px solid $special-grey-light;
  }
}

.menu__list--footer:last-of-type {
  border: none;
}

.menu__link:hover,
.menu__link:focus {
  color: $base-blue-dark;
  text-decoration: none;
}
