.phone {
  display: grid;
  grid-template-areas:
    "icon link"
    "icon notion";
  grid-template-columns: 16px 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 27px;
  max-width: 170px;
}

.phone__img {
  grid-area: icon;
  width: 27px;
  height: 19px;
}

.phone__link {
  grid-area: link;
  margin: 0;
}

.phone__notion {
  grid-area: notion;
  margin: 0;
  font-size: 12px;
  line-height: 17px;
  color: $special-grey;
}
