.sms {
  display: grid;
  grid-template-areas:
    "icon code"
    "icon notion";
  grid-template-columns: 10px 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 27px;
  max-width: 205px;
}

.sms__img {
  grid-area: icon;
  width: 26px;
  height: 19px;
}

.sms__code {
  grid-area: code;
  margin: 0;
}

.sms__notion {
  grid-area: notion;
  margin: 0;
  font-size: 12px;
  line-height: 17px;
  color: $special-grey;
}
