.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.social__item {
  margin: 0 20px 0 0;

  @media (min-width: $tablet-width-min) {
    margin: 0 0 0 20px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0 0 0 15px;
  }
}

.social__link:hover,
.social__link:focus {
  opacity: 0.7;
}

.social__link:active {
  opacity: 0.6;
}
