.step-second {

}

.step-second__title {
  margin: 25px 0 0 0;
  padding: 0;
  font-family: $base-medium-f;
  font-size: 16px;
  line-height: 22px;
  color: $base-black;

  @media (min-width: $tablet-width-min) {
    margin: 36px 0 0 0;
    font-size: 18px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 22px;
    line-height: 31px;
  }
}

.step-second__form {
  width: 100%;
  margin: 10px 0 0 0;

  @media (min-width: $tablet-width-min) {
    margin: 14px 0 0 0;
  }

  @media (min-width: $desktop-width-min) {
    margin: 16px 0 0 0;
  }
}

.step-second__fieldset {
  margin: 0 0 11px 0;

  @media (min-width: $tablet-width-min) {
    margin: 0 0 15px 0;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0 0 18px 0;
  }

  &--optional {
    margin: 0 0 0 0;
  }
}

.step-second__label {
  display: block;
  margin: 0 0 10px 0;
  font-family: $base-f;
  font-weight: 400;
  font-size: 16px;
  color: $special-blue-oxford;
}

.step-second__input[type='text'] {
  width: 100%;
  padding: 18px 50px 16px 50px;
  border: 1px solid $base-black;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet-width-min) {
    font-size: 16px;
    line-height: 22px;
  }
  @media (min-width: $desktop-width-min) {
    font-size: 18px;
    line-height: 25px;
  }
}

.step-second__checkbox + .step-second__label {
  position: relative;
  margin: 32px 0 0 22px;

  @media (min-width: $tablet-width-min) {
    margin: 39px 0 0 24px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 42px 0 0 24px;
  }
}

.step-second__checkbox + .step-second__label:before {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  top: 2px;
  left: -24px;
  border: 1px solid $base-blue-dark;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  box-sizing: border-box;
}

.step-second__checkbox:checked + .step-second__label:before {
  border: none;
  background-color: $base-blue-dark;
  background-image: url("../../img/checkbox.svg");
}

.step-second__checkbox:focus + .step-second__label:before {
  outline: solid;
}

.step-second__label--checkbox {
  color: $base-black;
  @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
    font-size: 14px;
    line-height: 20px;
  }
}
